<!doctype html>

<html lang="en">

   <head>
     <meta charset="utf-8">
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Phyman</title>

     <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">


     <style>
       [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, x-ng-cloak {
         display: none !important;
       }
     </style>
   </head>

   <body ng-app="phyman" layout="row" ng-cloak>

      <!-- Nav bar -->
      <md-sidenav class="md-sidenav-left md-white-frame-z2"
       md-component-id="left"
       md-is-locked-open="$mdMedia('gt-sm')"
       ng-click="toggleList()">
         <md-toolbar class="md-whiteframe-z1">
            <h3>Menu</h3>
         </md-toolbar>
         <md-content ng-controller="sideCtrl" layout-padding>
            <a ui-sref="login">Sign in</a>
            <md-divider></md-divider>
            <a ui-sref="register">Register an account.</a>
          </md-content>
      </md-sidenav>

      <div flex layout="column" class="md-whiteframe-z2">
         <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button id="main" class="menu" hide-gt-sm ng-click="toggleList()">
               <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h3>PhyMan</h3>
         </md-toolbar>
         <section ui-view></section>
      </div>

     
   </body>

</html>
